<template bindable="router">
  <require from="./styles.css"></require>
  <div class="container">
    <div class="jumbotron">
      <h1>Onions and Wagons</h1>
      <p>Fight your way through ten intense battles to finally reach your own freedom.</p>
    </div>

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">{Main Menu}</a>
        </div>
        <ul class="nav navbar-nav">
          <li><a route-href="route: home">Home</a></li>
          <li><a route-href="route: newgame">New Game</a></li>
          <li><a href="#">Load Game</a></li>
          <li><a route-href="route: classes">Editor</a></li>
        </ul>
      </div>
    </nav>

    <div class="container">
      <router-view></router-view>
    </div>

  </div>

</template>