﻿<template>
  <require from="../../customelements/my-slider"></require>
    <nav class="navbar navbar-default">
        <ul class="nav navbar-nav">
            <li><a route-href="route: classes" class="active">Classes</a></li>
            <li><a route-href="route: items">Items</a></li>
        </ul>
    </nav>
    <!-- <my-slider value.bind="test"></my-slider><button click.delegate="testing()">test</button> -->
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modal_newclass"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Click here to add a new class</button>
    
    <div class="modal fade" id="modal_newclass" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Add new class</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <strong>Create your custom class below, then click the save button to apply changes.</strong>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            Name:
                        </div>
                        <div class="col-md-9">
                            <input type="text" class="form-control" id="input_name" placeholder="New class" value.bind="newclass.name">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            Description:
                        </div>
                        <div class="col-md-9">
                            <input type="text" class="form-control" id="input_desc" placeholder="Keep it short and specific!" value.bind="newclass.desc">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            Attack:
                        </div>
                        <div class="col-md-9">
                            <input type="range" id="range_atk" value="10" min="1" max="30" value.bind="newclass.base_atk">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            Defense:
                        </div>
                        <div class="col-md-9">
                            <input type="range" id="range_def" value="10" min="1" max="30" value.bind="newclass.base_def">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            Special Attack:
                        </div>
                        <div class="col-md-9">
                            <input type="range" id="range_spatk" value="10" min="1" max="30" value.bind="newclass.base_spatk">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            Special Defense:
                        </div>
                        <div class="col-md-9">
                            <input type="range" id="range_spdef" value="10" min="1" max="30" value.bind="newclass.base_spdef">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            Speed:
                        </div>
                      <div class="col-md-9">
                          <input type="range" id="range_spd" value="10" min="1" max="30" value.bind="newclass.base_spd">
                      </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Close</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" click.delegate="addClass()"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Save and exit</button>
                </div>
            </div>
        </div>
    </div>
    
    <h1>List of classes</h1>
    <div class="panel-group" id="accordion">
        <div repeat.for="class of classes" class="panel panel-default" id="panel_${class.id}">
            <div class="panel-heading">
                <h4 class="panel-title">
                  <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
                  <a data-toggle="collapse" data-target="#collapse_${class.id}" href="#collapse_${class.id}" class="collapsed"> ${class.name}</a>
                </h4>

            </div>
            <div id="collapse_${class.id}" class="panel-collapse collapse">
                <div class="panel-body">
                    <img src="img/sprites/${class.spriteurl}.png" alt="Class icon" class="img-responsive center-block" />
                    <h4>${class.name}</h4>
                    <h5>${class.desc}</h5>
                    
                    <p>Stats:</p>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="${class.base_atk * 10}" aria-valuemin="0" aria-valuemax="30" style="width:${class.base_atk * 10}%">
                            ATK
                        </div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="${class.base_def * 10}" aria-valuemin="0" aria-valuemax="30" style="width:${class.base_def * 10}%">
                            DEF
                        </div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="${class.base_spatk * 10}" aria-valuemin="0" aria-valuemax="30" style="width:${class.base_spatk * 10}%">
                            SP.ATK
                        </div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="${class.base_spdef * 10}" aria-valuemin="0" aria-valuemax="30" style="width:${class.base_spdef * 10}%">
                            SP.DEF
                        </div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="${class.base_spd * 10}" aria-valuemin="0" aria-valuemax="30" style="width:${class.base_spd * 10}%">
                            SPD
                        </div>
                    </div>
                    <br />
                    <p>Moveset:</p>
                    <ul class="list-group" repeat.for="move of class.moveset">
                        <li class="list-group-item">${move}</li>
                    </ul>
                    <button type="button" class="btn btn-success" click.delegate="addMove(class.id)"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add random move</button>
                    
                    <p>---------------</p>
                    <button type="button" class="btn btn-danger" click.delegate="deleteClass(class)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Click here to delete this item</button>
                </div>
            </div>
        </div> <!-- end of loop -->
    </div>
</template>