﻿<template>
    <nav class="navbar navbar-default">
        <ul class="nav navbar-nav">
            <li><a route-href="route: classes">Classes</a></li>
            <li><a route-href="route: items" class="active">Items</a></li>
        </ul>
    </nav>
    
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modal_newitem"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Click here to add a new item</button>
    <button type="button" class="btn btn-warning" click.delegate="fixURL()"><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> Click here to fix potential undefined sprite URLs</button>  

    <div class="modal fade" id="modal_newitem" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Add new item</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <strong>Create your custom item below, then click the save button to apply changes.</strong>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            Name:
                        </div>
                        <div class="col-md-9">
                            <input type="text" class="form-control" id="input_name" placeholder="New item" value.bind="newitem.name">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            Description:
                        </div>
                        <div class="col-md-9">
                            <input type="text" class="form-control" id="input_desc" placeholder="Keep it short and specific!" value.bind="newitem.desc">
                        </div>
                    </div>
                    <div class="row">
                      <div class="col-md-3">
                        Equipment slot:
                      </div>
                      <div class="col-md-9">
                        <select value.bind="newitem.slot">
                          <option value="0" model.bind="0">Weapon</option>
                          <option value="1" model.bind="1">Head</option>
                          <option value="2" model.bind="2">Chest</option>
                          <option value="3" model.bind="3">Hands</option>
                          <option value="4" model.bind="4">Feet</option>
                        </select>
                      </div>
                    </div> <br /> <!-- could use some extra spacing here -->
                    <div class="row">
                      <div class="col-md-3">
                        Attack modifier:
                      </div>
                      <div class="col-md-9">
                        <input type="number" name="num_atk" min="0.05" max="10" step="0.05" value.bind="newitem.mod_atk">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-3">
                        Defense modifier:
                      </div>
                      <div class="col-md-9">
                        <input type="number" name="num_def" min="0.05" max="10" step="0.05" value.bind="newitem.mod_def">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-3">
                        Sp. Attack modifier:
                      </div>
                      <div class="col-md-9">
                        <input type="number" name="num_spatk" min="0.05" max="10" step="0.05" value.bind="newitem.mod_spatk">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-3">
                        Sp. Defense modifier:
                      </div>
                      <div class="col-md-9">
                        <input type="number" name="num_spdef" min="0.05" max="10" step="0.05" value.bind="newitem.mod_spdef">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-3">
                        Speed modifier:
                      </div>
                      <div class="col-md-9">
                        <input type="number" name="num_spd" min="0.05" max="10" step="0.05" value.bind="newitem.mod_spd">
                      </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Close</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" click.delegate="addItem()"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Save and exit</button>
                </div>
            </div>
        </div>
    </div>
    
    <h1>List of items</h1>
    <div class="row">
      <div class="panel-group" id="accordion">
        <div repeat.for="item of items" class="col-md-4">
          <div class="panel panel-default" id="panel_${item.id}">
            <div class="panel-heading">
              <h4 class="panel-title">
                <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
                <a data-toggle="collapse" data-target="#collapse_${item.id}" href="#collapse_${item.id}" class="collapsed"> ${item.name}</a>
              </h4>

            </div>
            <div id="collapse_${item.id}" class="panel-collapse collapse">
              <div class="panel-body">
                <img src="img/sprites/${item.spriteurl}.png" alt="Item icon" class="img-responsive center-block" />
                <h4>${item.name}</h4>
                <h5>${item.desc}</h5>
                
                Equipment slot: 
                <select value.bind="item.slot" disabled>
                  <option value="0" model.bind="0">Weapon</option>
                  <option value="1" model.bind="1">Head</option>
                  <option value="2" model.bind="2">Chest</option>
                  <option value="3" model.bind="3">Hands</option>
                  <option value="4" model.bind="4">Feet</option>
                </select>

                <p>Stat modifiers:</p>
                <span class="${ item.mod_atk > 1 ? 'stat_positive' : '' } ${ item.mod_atk < 1 ? 'stat_negative' : '' }">Attack: </span> <span class="badge">${item.mod_atk}x</span> <br />
                <span class="${ item.mod_def > 1 ? 'stat_positive' : '' } ${ item.mod_def < 1 ? 'stat_negative' : '' }">Defense: </span> <span class="badge">${item.mod_def}x</span> <br />
                <span class="${ item.mod_spatk > 1 ? 'stat_positive' : '' } ${ item.mod_spatk < 1 ? 'stat_negative' : '' }">Sp. Attack: </span> <span class="badge">${item.mod_spatk}x</span> <br />
                <span class="${ item.mod_spdef > 1 ? 'stat_positive' : '' } ${ item.mod_spdef < 1 ? 'stat_negative' : '' }">Sp. Defense: </span> <span class="badge">${item.mod_spdef}x</span> <br />
                <span class="${ item.mod_spd > 1 ? 'stat_positive' : '' } ${ item.mod_spd < 1 ? 'stat_negative' : '' }">Speed: </span> <span class="badge">${item.mod_spd}x</span>
                <p>---------------</p>
                <button type="button" class="btn btn-danger" click.delegate="deleteItem(item)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Click here to delete this item</button>
              </div>
            </div>
           </div>
        </div>
      </div>
    </div>
</template>